.box {
  margin: 10px;
  width: 800px;
  height: 800px;
  border: 1px solid black;
  background-color: white;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  font-size: 20pt;
}

.item-img {
  width: 400px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.win {
  border: 10px solid green;
  border-radius: 5px;
  color: green;
}
.lose {
  border: 10px solid red;
  border-radius: 5px;
  color: red;
}
.tie {
  border: 10px solid black;
  border-radius: 5px;
  color: black;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 30px 0px;
  font-size: 50px;
}

button {
  width: 100px;
  height: 50px;
  padding: 10px 20px; /* 버튼의 안쪽 여백 설정 */
  margin: 5px;
  border: none; /* 버튼의 테두리 제거 */
  border-radius: 5px; /* 버튼의 모서리를 둥글게 */
  cursor: pointer; /* 마우스 커서가 버튼 위에 올 때 손 모양으로 변경 */
  background-color: skyblue; /* 버튼 배경색 */
  color: black; /* 텍스트 색상 */
  transition: background-color 0.3s ease, opacity 0.3s ease; /* 부드러운 색상 전환 효과 */
}

button:active {
  background-color: #0056b3; /* 누를 때 배경색 변경 */
  opacity: 0.7; /* 버튼의 투명도 조정, 흐릿하게 보이도록 */
}
